/* Container */
/* --------- */

.hero {
  @apply h-screen flex flex-col justify-start mt-0;
}

.explainerContainer {
  background: repeat left top var(--dots-on-light);
  background-size: var(--spacing) var(--spacing);
  height: var(--explainer-grid-height);
  @apply items-baseline flex overflow-visible;
}

.explainer {
  margin-left: calc(var(--spacing) * 1.5 - var(--dot-size));
  @apply relative flex items-center justify-start;
}

/* TODO Vittorio: Remove this fix as soon as possible, probably some calculation is off */
/*@media (max-width: 1090px) {*/
/*  .explainer {*/
/*    margin-top: 40px !important;*/
/*  }*/
/*}*/

/* Languages and Platforms Grid */
/* ---------------------------- */

.languages,
.platforms {
  --col: calc(var(--spacing) * 2 + var(--dot-size));
  grid-template-columns: var(--col);
  gap: 24px; /* exactly the space between 2 dots */
  @apply grid;
}

.languages > div,
.platforms > div {
  @apply relative;
}

/* Empty Elements below 1200px */
.languages .empty {
  @apply hidden;
}

/* Hide some elements on tablet and below */
.hideOnTablet {
  @apply hidden;
}

/* Arrows */
/* ------ */

.arrowContainer {
  @apply relative flex justify-center items-center w-dot-3 h-dot-3 bg-white box-content mx-dot-1;
}

.arrowContainer:before,
.iconContainer:before {
  content: "";
  @apply absolute bg-white;
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
}

.arrowMask {
  @apply relative bg-grey-30;
  width: 40px;
  height: 32px;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCAzMiI+Cjxwb2x5Z29uIHBvaW50cz0iMjUuODYsMS44NiAyMy4wMyw0LjY5IDMyLjM0LDE0IDAsMTQgMCwxOCAzMi4zNCwxOCAyMy4wMywyNy4zMSAyNS44NiwzMC4xNCA0MCwxNiAiLz4KPC9zdmc+");
}

.arrowFill {
  @apply absolute left-0 top-0 h-full w-full bg-secondary;
  left: 50%;
}


/* WebAssembly & Wasmer */
/* -------------------- */

.iconContainer {
  @apply relative bg-white h-dot-3 w-dot-3 flex items-center justify-center;
}

.iconContainer svg {
  @apply relative max-h-full;
  transition: fill 0.2s ease;
  fill: #BDB7C7;
}

.iconContainer.highlighted svg {
  fill: #4946DD;
}

.iconContainer.plus {
  @apply h-dot-3 ;
  width: calc(var(--spacing) * 3 - var(--dot-size));
}

.iconContainer.wasmerIcon {
  @apply z-10;
  /* Move items closer together on tablet */
  margin-left: calc(var(--spacing) * -0.5);
  margin-right: calc(var(--spacing) * -0.5);
}

/* Text */
/* ---- */

.headlineContainer {
  height: var(--explainer-textcontainer-height);
  @apply flex justify-center items-center;
}

.headline {
  @apply text-grey-30;
}

/* Other Stuff */
/* ----------- */

.breakOnDesktop {
  display: none;
}
.blockOnDesktop {
  display: inline;
}

.highlightedText {
  color: #4946DD;
}

.hideSecondaryItems {

}

@media (min-width: 650px) {

  .explainerContainer {
    background: repeat center top var(--dots-on-light);
    background-size: var(--spacing) var(--spacing);
  }
  .headlineContainer {
    @apply flex justify-center items-center;
  }

  .blockOnDesktop {
    display: block;
  }

  .breakOnDesktop {
    display: block;
  }
  .explainer {
    @apply mx-auto;
  }
}

@media (min-width: 720px) {
  .languages,
  .platforms {
    grid-template-columns: var(--col) var(--col);
  }

  .platforms {
    grid-template-columns: var(--col) var(--col);
  }
}

/* Hide all elements except the main one when there's not enough space */
@media (max-width: 719px) {
  .languages > div:not(.main),
  .platforms > div:not(.main) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .languages,
  .platforms {
    --col: calc(var(--spacing) * 3 + var(--dot-size));
  }

  .hideOnTablet {
    @apply block;
  }

  .arrowContainer {
    @apply w-dot-4;
  }
  .arrowMask {
    width: 52px;
    height: 32px;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MiAzMiI+Cjxwb2x5Z29uIHBvaW50cz0iMzcuODYsMS44NiAzNS4wMyw0LjY5IDQ0LjM0LDE0IDAsMTQgMCwxOCA0NC4zNCwxOCAzNS4wMywyNy4zMSAzNy44NiwzMC4xNCA1MiwxNiAiLz4KPC9zdmc+Cg==");
  }

  .iconContainer {
    @apply h-dot-4 w-dot-4;
  }

  .iconContainer.wasmerIcon {
    @apply mx-0;
  }

  .platforms {
    margin-right: var(--spacing);
  }
}

@media (min-width: 1200px) {
  .languages {
    grid-template-columns: var(--col) var(--col) var(--col);
  }

  .languages .empty {
    @apply block;
  }
}

/* @media (max-height: 782px) {
  .languages > div.restVisibleOnTablet {
    @apply hidden;
  }
} */
