.hero {
  @apply h-screen flex flex-col justify-start;
}

.blockOnDesktop {
  display: block;
}

.transitionContainer {
  transition: opacity 0.2s ease;
}

.explainerContainer {
  background: repeat center top var(--dots-on-light);
  background-size: var(--spacing) var(--spacing);
  height: var(--explainer-grid-height);
  @apply items-baseline flex overflow-hidden;
}

.headlineContainer {
  height: var(--explainer-textcontainer-height);
  @apply flex justify-center items-center;
}

.explainer {
  max-width: 1068px;
  @apply relative h-full flex flex-row items-start justify-start mx-auto;
}

.languages,
.platforms {
  --col: calc(var(--spacing) * 2 + var(--dot-size));
  grid-template-columns: var(--col) var(--col) var(--col);
  grid-template-rows: var(--col) var(--col) var(--col);
  gap: 24px; /* exactly the space between 2 dots */
  @apply grid;
}

@media (min-width: 1024px) {
  .languages,
  .platforms {
    --col: calc(var(--spacing) * 3 + var(--dot-size));
  }
}

.platforms {
  grid-template-columns: var(--col) var(--col);
  grid-template-rows: var(--col) var(--col);
}

.languages > div,
.platforms > div {
  z-index: 1;
  @apply relative;
}

.languages .highlight,
.platforms .highlight {
  @apply absolute top-0 left-0 z-20;
  transition: opacity 0.2s ease;
}

/* .languages > div > .highlight {
  z-index: 4;
} */

.platforms .highlight {
  @apply opacity-0;
}

.heightSizer {
  @apply flex flex-col justify-center h-dot-12;
}

.arrowContainer {
  height: 35px;
  width: calc(var(--spacing) * 5 - var(--dot-size));
  @apply flex justify-center bg-white overflow-hidden m-0;
}

.arrowContainerInner {
  height: 30px;
  width: 50px;
  @apply relative;
}

.arrowContainer .arrow {
  height: 30px;
  width: 50px;
  z-index: 3;
  @apply absolute top-0 left-0;
}

.arrowContainer .arrowMask {
  height: 30px;
  width: 50px;
  background-color: rgb(200, 194, 208);
  mix-blend-mode: lighten;
  z-index: 4;
  @apply overflow-hidden top-0 left-0 absolute;
}

.arrowContainer .arrowGrey {
  height: 30px;
  width: 50px;
  z-index: 2;
  @apply top-0 left-0 absolute;
}

.waContainer {
  @apply flex flex-col justify-center h-dot-12;
}

.waContainerInner {
  @apply relative bg-white w-dot-4 h-dot-4;
}

.waContainerInner .color {
  /* transition: opacity 0.2s ease; */
  /* z-index: 4; */
  @apply flex justify-center items-center w-dot-4 h-dot-4;
}

.waContainerInner .color svg {
  fill: inherit;
  transition: fill 0.2s ease;
}

.waContainerInner .grey {
  @apply w-dot-4 h-dot-4;
  /* z-index: 3; */
  background: #fff center no-repeat
    url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjQkRCN0M3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4OCA4OCI+CjxwYXRoIGQ9Ik01NC4wNywwYzAsMC4xNiwwLDAuMzEsMCwwLjQ3YzAsMi42OC0xLjA2LDUuMjQtMi45Niw3LjEzYy0xLjg5LDEuODktNC40NiwyLjk2LTcuMTMsMi45NnMtNS4yNC0xLjA2LTcuMTMtMi45NgoJcy0yLjk2LTQuNDYtMi45Ni03LjEzYzAtMC4xNiwwLTAuMzIsMC0wLjQ3SDB2ODhoODhWMEg1NC4wN3ogTTQyLDc4LjU4bC00LjI4LTIxLjJoLTAuMDdMMzMsNzguNThoLTUuOWwtNi42OS0zMS4xNWg1LjgzbDMuOTksMjEuMgoJaDAuMDdsNC44MS0yMS4yaDUuNDVsNC4zMiwyMS40NmgwLjA3bDQuNTUtMjEuNDZoNS43Mkw0Ny44LDc4LjU4SDQyeiBNNzQuMSw3OC41OGwtMS45OS02LjkzSDYxLjYybC0xLjUzLDYuOTNoLTUuODNsNy41NC0zMS4xNUg3MQoJbDkuMTcsMzEuMTVINzQuMXoiLz4KPHBvbHlnb24gcG9pbnRzPSI2NS4zMSw1NS4xIDYyLjc3LDY2LjU0IDcwLjY4LDY2LjU0IDY3Ljc2LDU1LjEgIi8+Cjwvc3ZnPgo=");
  
}

.wasmerContainer {
  height: 100px;
  @apply bg-white relative align-middle inline-block w-dot-4;
}

.wasmerContainer .color {
  height: 100px;
  background: center no-repeat
    url("data:image/svg+xml,%3Csvg width='82' height='99' viewBox='0 0 82 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1874 38.1893C25.1874 38.2815 25.1874 38.3736 25.1874 38.4657C25.1874 41.7135 23.0798 43.1301 20.4885 41.6329C17.8972 40.1357 15.7896 36.2891 15.7896 33.0413C15.7896 32.9492 15.7896 32.857 15.7896 32.7649L0 23.6436V74.8936L41 98.5607V47.3107L25.1874 38.1893Z' fill='%234946DD'/%3E%3Cpath d='M45.6874 26.3614C45.6874 26.4536 45.6874 26.5457 45.6874 26.6378C45.6874 29.8856 43.5798 31.3021 40.9885 29.805C38.3972 28.3078 36.2896 24.4611 36.2896 21.2134C36.2896 21.1213 36.2896 21.0291 36.2896 20.937L20.5 11.8271V30.162L45.6067 44.6617V77.5769L61.5 86.7558V35.5058L45.6874 26.3614Z' fill='%234946DD'/%3E%3Cpath d='M66.1874 14.5458C66.1874 14.6379 66.1874 14.7301 66.1874 14.8222C66.1874 18.0699 64.0798 19.4865 61.4885 17.9893C58.8972 16.4921 56.7896 12.6455 56.7896 9.39775C56.7896 9.30562 56.7896 9.21348 56.7896 9.12135L41 0V18.3348L66.1067 32.8346V65.7497L82 74.9287V23.6787L66.1874 14.5458Z' fill='%234946DD'/%3E%3C/svg%3E%0A");
  transition: opacity 0.2s ease;
  z-index: 4;
  @apply absolute top-0 left-0 opacity-0 w-dot-4;
}

.wasmerContainer .grey {
  height: 100px;
  z-index: 3;
  background: #fff center no-repeat
    url("data:image/svg+xml,%3Csvg width='82' height='99' viewBox='0 0 82 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1874 38.1893C25.1874 38.2815 25.1874 38.3736 25.1874 38.4657C25.1874 41.7135 23.0798 43.1301 20.4885 41.6329C17.8972 40.1357 15.7896 36.2891 15.7896 33.0413C15.7896 32.9492 15.7896 32.857 15.7896 32.7649L0 23.6436V74.8936L41 98.5607V47.3107L25.1874 38.1893Z' fill='white' /%3E%3Cpath d='M25.1874 38.1893C25.1874 38.2815 25.1874 38.3736 25.1874 38.4657C25.1874 41.7135 23.0798 43.1301 20.4885 41.6329C17.8972 40.1357 15.7896 36.2891 15.7896 33.0413C15.7896 32.9492 15.7896 32.857 15.7896 32.7649L0 23.6436V74.8936L41 98.5607V47.3107L25.1874 38.1893Z' fill='%23231044' fill-opacity='0.25' /%3E%3Cpath d='M45.6874 26.3619C45.6874 26.454 45.6874 26.5462 45.6874 26.6383C45.6874 29.8861 43.5798 31.3026 40.9885 29.8054C38.3972 28.3083 36.2896 24.4616 36.2896 21.2139C36.2896 21.1217 36.2896 21.0296 36.2896 20.9375L20.5 11.8276V30.1625L45.6067 44.6622V77.5774L61.5 86.7563V35.5063L45.6874 26.3619Z' fill='white'/%3E%3Cpath d='M45.6874 26.3619C45.6874 26.454 45.6874 26.5462 45.6874 26.6383C45.6874 29.8861 43.5798 31.3026 40.9885 29.8054C38.3972 28.3083 36.2896 24.4616 36.2896 21.2139C36.2896 21.1217 36.2896 21.0296 36.2896 20.9375L20.5 11.8276V30.1625L45.6067 44.6622V77.5774L61.5 86.7563V35.5063L45.6874 26.3619Z' fill='%23231044' fill-opacity='0.25'/%3E%3Cpath d='M66.1874 14.5458C66.1874 14.6379 66.1874 14.7301 66.1874 14.8222C66.1874 18.0699 64.0798 19.4865 61.4885 17.9893C58.8972 16.4921 56.7896 12.6455 56.7896 9.39775C56.7896 9.30562 56.7896 9.21348 56.7896 9.12135L41 0V18.3348L66.1067 32.8346V65.7497L82 74.9287V23.6787L66.1874 14.5458Z' fill='white' /%3E%3Cpath d='M66.1874 14.5458C66.1874 14.6379 66.1874 14.7301 66.1874 14.8222C66.1874 18.0699 64.0798 19.4865 61.4885 17.9893C58.8972 16.4921 56.7896 12.6455 56.7896 9.39775C56.7896 9.30562 56.7896 9.21348 56.7896 9.12135L41 0V18.3348L66.1067 32.8346V65.7497L82 74.9287V23.6787L66.1874 14.5458Z' fill='%23231044' fill-opacity='0.25' /%3E%3C/svg%3E%0A");
  @apply absolute top-0 left-0 w-dot-4;
}

.plusContainer {
  @apply flex justify-center bg-white w-dot-2 h-dot-2 z-0 mx-dot-1;
}

.plusContainerInner {
  overflow: hidden;
  @apply w-dot-1 h-dot-1 relative align-middle inline-block overflow-hidden;
}

.plusContainerInner .plus {
  transition: all ease-in-out 200ms;
  z-index: 3;
  @apply absolute top-0 left-0 h-dot-1 w-dot-1 opacity-0;
}

.plusContainerInner .plusGrey {
  z-index: 2;
  @apply absolute top-0 left-0 h-dot-1 w-dot-1;
}

.plus:before {
  content: '';
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAyNiAyNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgb3BhY2l0eT0iMC4yIj4KPGxpbmUgeDE9IjEzLjAwMDciIHgyPSIxMy4wMDA3IiB5Mj0iMjYiIHN0cm9rZT0iIzIzMTA0NCIgc3Ryb2tlLXdpZHRoPSI0Ii8+CjxsaW5lIHgxPSIyNiIgeTE9IjEzIiB4Mj0iLTEuNzQ4NDZlLTA3IiB5Mj0iMTMiIHN0cm9rZT0iIzIzMTA0NCIgc3Ryb2tlLXdpZHRoPSI0Ii8+CjwvZz4KPC9zdmc+Cg==);

  @apply w-dot-1 h-dot-1 inline-block;
}

.breakOnDesktop {
  display: block;
}

.headline {
  @apply text-grey-30;
}

.platforms > div.restVisibleOnTablet,
.languages > div.restVisibleOnTablet {
  @apply hidden;
}

@media (max-width: 1090px) {
  .explainer {
    max-width: 1068px;
    margin-left: 8.5px;
    @apply relative h-full flex flex-row items-start justify-start;
  }

  .languages .empty {
    @apply hidden;
  }
  .languages {
    width: calc(var(--spacing) * 7 + var(--dot-size));
    grid-template-columns: var(--col) var(--col);
    grid-template-rows: var(--col) var(--col);
    margin-left: calc(38px + var(--spacing));
  }

  .platforms {
    margin-right: 38px;
  }

  .languages > div.restVisibleOnDesktop {
    @apply hidden;
  }

  .platforms > div.restVisibleOnTablet,
  .languages > div.restVisibleOnTablet {
    @apply block;
  }
  .explainerContainer {
    background: none;
    @apply flex relative items-center overflow-hidden;
  }
  .explainer {
    padding-top: 10px;
    background: white repeat left top var(--dots-on-light);
    background-size: var(--spacing) var(--spacing);
    @apply absolute h-full;
  }
}

@media (max-width: 950px) {
  .platforms {
    width: 100px;
    height: 569px;
  }
  .platforms .empty {
    display: none;
  }
  .platforms {
    width: calc(var(--spacing) * 7 + var(--dot-size));
    grid-template-columns: var(--col);
    grid-template-rows: var(--col) [row2-start] var(--col);
  }
  .platforms > .mainItem {
    grid-row-start: row2-start;
  }
  .platforms > div.rest {
    @apply hidden;
  }
}

@media (max-width: 850px) {
  .languages .empty,
  .platforms .empty {
    @apply block;
  }
  .languages,
  .platforms {
    width: calc(var(--spacing) * 7 + var(--dot-size));
    grid-template-columns: var(--col);
    grid-template-rows: var(--col) [row2-start] var(--col);
  }
  .platforms > .mainItem {
    grid-row-start: row2-start;
  }
  .explainerContainer {
    background: none;
    @apply flex relative items-center overflow-hidden;
  }
  .explainer {
    padding-top: 10px;
    background: white repeat left top var(--dots-on-light);
    background-size: var(--spacing) var(--spacing);
    @apply absolute h-full;
  }
  .languages,
  .platforms {
    width: 88px;
    height: 84px;
    margin-bottom: 0;
    margin-top: -4px;
  }
  .languages > div.rest,
  .platforms > div.rest {
    @apply hidden;
  }

  .platforms > div.restVisibleOnTablet,
  .languages > div.restVisibleOnTablet {
    @apply hidden;
  }

  .plusContainer {
    @apply w-dot-3;
  }
  .plusContainerInner {
    @apply w-dot-2;
  }
}

@media (max-width: 767px) {
  .breakOnDesktop {
    display: none;
  }
  .blockOnDesktop {
    display: inline;
  }
  .languages {
    margin-left: 38px;
  }

  .explainerContainer {
    background: repeat center top var(--dots-on-light);
    background-size: var(--spacing) var(--spacing);
    height: var(--explainer-grid-height);
    @apply items-baseline flex overflow-hidden;
  }

  .headlineContainer {
    @apply flex justify-center items-center;
  }
}

@media (max-height: 782px) {
  .languages > div.restVisibleOnTablet {
    @apply hidden;
  }
}
