.animationHelper {
  @apply absolute right-0;
  width: 100px;
  height: 1000px;
  top: calc(90vh - 107px + 99px)
}

.animationHelper div {
  @apply absolute;
  right: 0;
  height: 1px;
  width: 100%;
  background: red;
  z-index: 100;
}

.animationHelper div:before {
  content: attr(data-step);
  color: red;
  font-size: 12px;
  @apply absolute left-0 top-0;
}

/* Container */
/* --------- */

.hero {
  @apply h-screen flex flex-col justify-start mt-0;
}

.explainerContainer {
  background: repeat left top var(--dots-on-light);
  background-size: var(--spacing) var(--spacing);
  height: var(--explainer-grid-height);
  width: fit-content;
  transition: transform .2s ease-out;
  @apply items-baseline flex overflow-visible pr-24;
}

.explainer {
  margin-left: calc(var(--spacing) * 1.5 - var(--dot-size));
  @apply relative flex items-center justify-start;
}

/* TODO Vittorio: Remove this fix as soon as possible, probably some calculation is off */
/*@media (max-width: 1090px) {*/
/*  .explainer {*/
/*    margin-top: 40px !important;*/
/*  }*/
/*}*/

/* Languages and Platforms Grid */
/* ---------------------------- */

.itemsGrid {
  --col: calc(var(--spacing) * 2 + var(--dot-size));
  grid-template-columns: var(--col);
  gap: 24px; /* exactly the space between 2 dots */
  @apply grid;
}

.itemsGrid > div {
  @apply relative;
  transition: opacity 0.2s ease;
}

/* Empty Elements below 1200px */
.itemsGrid .empty {
  @apply hidden;
}

/* Main Element */

.itemsGrid div.main {
  transition: background-color 0.2s ease;
  transition-property: background-color, box-shadow;
}

.itemsGrid div.main svg {
  transition: fill 0.2s ease;
  transition-property: fill, opacity;
}

/* Hide additional elements when not in focus */
.itemsGrid.hideAdditional > div:not(.main) {
  opacity: 0;
}

/* Hide some elements on tablet and below */
.hideOnTablet {
  @apply hidden;
}

/* Arrows */
/* ------ */

.arrowContainer {
  @apply relative flex justify-center items-center w-dot-3 h-dot-3 bg-white box-content mx-dot-1;
}

.arrowContainer:before,
.iconContainer:before {
  content: "";
  @apply absolute bg-white;
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
}

.arrowMask {
  @apply relative bg-grey-30;
  width: 40px;
  height: 32px;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCAzMiI+Cjxwb2x5Z29uIHBvaW50cz0iMjUuODYsMS44NiAyMy4wMyw0LjY5IDMyLjM0LDE0IDAsMTQgMCwxOCAzMi4zNCwxOCAyMy4wMywyNy4zMSAyNS44NiwzMC4xNCA0MCwxNiAiLz4KPC9zdmc+");
}

.arrowFill {
  @apply absolute left-0 top-0 h-full w-full bg-secondary;
}

/* WebAssembly & Wasmer */
/* -------------------- */

.iconContainer {
  @apply relative bg-white h-dot-3 w-dot-3 flex items-center justify-center;
}

.iconContainer svg {
  @apply relative max-h-full;
  transition: fill 0.2s ease;
  fill: #BDB7C7;
}

.iconContainer.highlighted svg {
  fill: #4946DD;
}

.iconContainer.plus {
  @apply h-dot-3 ;
  width: calc(var(--spacing) * 3 - var(--dot-size));
}

.iconContainer.wasmerIcon {
  @apply z-10;
  /* Move items closer together on tablet */
  margin-left: calc(var(--spacing) * -0.5);
  margin-right: calc(var(--spacing) * -0.5);
}

/* Text */
/* ---- */

.headlineContainer {
  height: var(--explainer-textcontainer-height);
}

.headline {
  @apply text-grey-30;
  max-width: 700px;
}

.highlightedText {
  color: #4946DD;
}

.hideSecondaryItems > div:not(.main) {
  opacity: 0;
}

.transitionContainer {
  transition: all 0.15s ease-out;
}

@media (min-width: 650px) {

  .explainerContainer {
    background: repeat center top var(--dots-on-light);
    background-size: var(--spacing) var(--spacing);
    @apply w-full p-0;
  }
  .headlineContainer {
    @apply flex justify-center items-center;
  }

  .headline {
    max-width: 700px;
  }

  .explainer {
    width: fit-content;
    @apply mx-auto;
  }
}

@media (min-width: 720px) {
  .itemsGrid {
    grid-template-columns: var(--col) var(--col);
  }

  .itemsGrid.platforms {
    grid-template-columns: var(--col) var(--col);
  }
}

/* Hide all elements except the main one when there's not enough space */
@media (max-width: 719px) {
  .itemsGrid > div:not(.main) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .itemsGrid {
    --col: calc(var(--spacing) * 3 + var(--dot-size));
  }

  .arrowContainer {
    @apply w-dot-4;
  }
  .arrowMask {
    width: 52px;
    height: 32px;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MiAzMiI+Cjxwb2x5Z29uIHBvaW50cz0iMzcuODYsMS44NiAzNS4wMyw0LjY5IDQ0LjM0LDE0IDAsMTQgMCwxOCA0NC4zNCwxOCAzNS4wMywyNy4zMSAzNy44NiwzMC4xNCA1MiwxNiAiLz4KPC9zdmc+Cg==");
  }

  .iconContainer {
    @apply h-dot-4 w-dot-4;
  }

  .iconContainer.wasmerIcon {
    @apply mx-0;
  }

  .itemsGrid.platforms {
    margin-right: var(--spacing);
  }

  .headline {
    @apply max-w-4xl;
  }
}

@media (min-width: 1200px) {
  .itemsGrid .empty {
    @apply block;
  }
  
  .hideOnTablet {
    @apply block;
  }
}