.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;
}

.div2 {
    grid-area: 1 / 4 / 2 / 6;
}

.div3 {
    grid-area: 2 / 1 / 3 / 6;
}

.openlist {
    font-size: var(--text-size);
    list-style-type: square;
    margin: 25px 0;
    line-height: 35px;
    padding-left: 25px;
}

.openstrong {
    font-weight: 900;
}

.openanchor {
    font-size: x-large;
}

.grid {
    @apply bg-top select-none w-screen h-full absolute top-0;
    right: 50%;
    transform: translate(50%, 0);
}

@media (min-width: 1024px) {
    .grid {
        @apply bg-right-top right-0;
        transform: none;
    }
}