.command {
  font-family: 'Zeitung Mono Pro', monospace;
  line-height: 34px;
  margin: 0 0 122px;

  @apply text-base mb-10;
}

.command:before {
  content: '\258C';
  user-select: none;
}

.microContainer {
  @apply flex flex-col-reverse;
}

.seeAll {
  @apply font-bold no-underline text-white text-base;
}

.seeAll:before {
  content: '';
  background: no-repeat center top
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuMDAwNzMgMkwxNy4xNTc3IDEwLjE1N0w5LjAwMDczIDE4LjMxMzkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMy41Ii8+Cjwvc3ZnPgo=);
  @apply inline-block w-5 h-5 mr-3 -ml-2;
}

.packages {
  position: initial;
  left: 70%;
  right: -260px;
  list-style: none;
  flex-flow: nowrap;
  @apply mb-10 pt-10 overflow-hidden hidden -mt-32;
}

.packages > div {
  border: 4px solid #ffffff5a;
  width: 246px;
  opacity: 0.3;
  flex: none;
  @apply relative block box-border m-2 rounded-sm p-6 h-64;
}

.packages > div:not(.highlighted) {
}

@keyframes fadein {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}

.packages > div.highlighted {
  @apply opacity-75;
}

.packages > div.animatedHighlighted {
  @apply opacity-75;
}

@keyframes fadein-highlighted {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.75;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.1;
  }
}

.packages > div > h3 {
  @apply mb-2 p-0 font-bold;
}
.packages > div > div {
  @apply mt-3 opacity-50;
}
.packages > div > .note {
  bottom: 24px;
  left: 24px;
  @apply absolute opacity-50;
}

/* special handling */
@media (min-width: 1414px) {
  .packages {
    @apply flex-row-reverse;
  }
}

@media (min-width: 650px) {
  .microContainer {
    @apply block;
  }

  .packages {
    @apply absolute flex-wrap top-0 pt-0;
    min-width: 674px;
  }

  .packages li {
    width: 320px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
  .packages {
    @apply flex;
  }

  .command {
    @apply mb-32;
  }
}
