.footer {
  background: #231044;
  color: white;
  position: relative;
  padding: 48px 0;
}

.footer .footerGrid {
  right: 50%;
  left: -180px;
  margin-right:-180px;
  background-position: right top!important;
  z-index: 0;
}

.footer a {
  text-decoration: none;
  color: white;
}

.companyInfo {
  background: #231044;
  display: inline-block;
  width: 300px;
  margin-left: -30px;
  padding: 20px 30px;
  box-sizing: border-box;
  align-self: flex-end;
  margin-bottom: -20px;
  z-index: 1;
}

.companyInfo img {
  display: block;
}
.companyInfo .mission {
  margin-top: 14px;
  font-size: 18px;
  line-height: 22px;
}
.container {
  width: 992px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 300px;
  padding: 0 0 0 54px;
  box-sizing: border-box;
}

.nav .copyright {
  color: #ffffff;
  opacity: 0.45;
  font-size: 14px;
  line-height: 17px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-bottom: 55px;
  position: relative;
}

.nav a {
  color: white;
  display: inline-block;
  padding: 8px 0;
}

.nav .github {
  position: absolute;
  top: 8px;
  right: 0;
}

.nav .twitter {
  position: absolute;
  top: 64px;
  right: 0;
}

.nav .github a,
.nav .twitter a {
  text-indent: -1000px;
  width: 32px;
  height: 32px;
  display: inline-block;
  overflow: hidden;
  background: no-repeat url("../images/icon-github.svg");
}

.nav .twitter a {
  width: 36px;
  background: no-repeat url("../images/icon-twitter.svg");
}
