.logo {
  width: 147px;
  height: 43px;
}
.header {
  background: white;
}

.header .container {
  padding: 29px;
  height: 105px;
  box-sizing: border-box;
  display: flex;
  max-width: 1152px;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.headerLinks {
  flex: 1;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  text-align: right;
  list-style: none;
}

.headerLinks li {
  display: inline-block;
  vertical-align: middle;
}

.github {
  margin-left: 8px;
}

.headerLinks .github a {
  font-size: 16px;
  line-height: 18px;
}
.github img {
  vertical-align: middle;
  margin-right: 8px;
}
.github .githubAction {
  background: linear-gradient(180deg, rgba(35, 16, 68, 0.0248) 0%, rgba(35, 16, 68, 0.08) 100%);
  border: 1px solid rgba(35, 16, 68, 0.15);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 9px 11px 7px;
}
.github .githubStars {
  border: 1px solid rgba(35, 16, 68, 0.15);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 9px 11px 7px 10px;
  margin-left: 10px;
  position: relative;
}
.github .githubStars:before {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  left: -5px;
  top: 50%;

  margin-top: -4px;
  background: white;
  display: inline-block;
  border: 1px solid rgba(35, 16, 68, 0.15);
  border-bottom: none;
  border-right: none;
  transform: rotate(-45deg);
}

.github img {
  vertical-align: middle;
  margin-right: 8px;
}


.headerLinks a {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  margin: 0 8px;
  padding: 8px;

  color: #231044;
}
.github a {
  padding: 0;
}