.logo {
  width: 147px;
  height: 43px;
}
.header {
  background: white;
}

.header .container {
  padding: 29px;
  height: 105px;
  box-sizing: border-box;
  display: flex;
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}
.headerLinks {
  flex: 1;
  margin: 0;
  padding: 0;
  text-align: right;
  list-style: none;
}

.headerLinks li {
  display: inline-block;
  vertical-align: middle;
}

/* .headerLinks img {
  display: block;
} */
.github {
  margin-left: 8px;
}

.headerLinks a {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  margin: 0 8px;
  padding: 0 8px;

  color: #231044;
}
