.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 4; }
    .div2 { grid-area: 1 / 4 / 2 / 6; }
    .div3 { grid-area: 2 / 1 / 3 / 6; }