.root {
  --terminal-height: 364px;
  --terminal-width: 530px;
  --section-top-padding: calc(var(--spacing) * 3);
  --embed-padding: calc(var(--spacing) * 3);
  @apply overflow-hidden;
}

.terminal {
  @apply relative p-4 pb-12 overflow-hidden bg-primary shadow-lightpurple rounded mt-12 -mx-4;
  height: var(--terminal-height);
}

.embedText {
  @apply mt-16 mb-10;
}

.gridLogos {
  @apply relative p-4 -mx-5;
}

.grid {
  @apply left-0;
}

@media (min-width: 650px) {
  .embedContainer {
    @apply flex pt-12;
    padding-top: var(--embed-padding);
  }

  .embedText {
    @apply mx-8 mb-0;
  }

  .grid {
    @apply left-0;
    --grid-height: calc(
      var(--terminal-height) + var(--embed-padding) + var(--section-top-padding)
    );
    top: calc(var(--grid-height) * -1);
    height: calc(100% + var(--grid-height));
    z-index: -1;
  }

  .gridLogos {
    @apply mx-0;
    flex: 0 0 auto;
    width: 50%;
  }

  .terminal {
    @apply mx-0 mt-32;
  }
}

@media (min-width: 850px) {
  .root {
    --terminal-height: 448px;
  }

  .embedText {
    @apply mx-12;
  }
}

@media (min-width: 1024px) {
  .root {
    padding-top: var(--section-top-padding);
  }

  .install {
    @apply pr-20 box-content;
    width: calc(100% - var(--terminal-width) - 5rem);
  }

  .terminal {
    @apply mt-0;
    width: var(--terminal-width);
    flex: 0 0 auto;
  }

  .embedText {
    @apply ml-0 mr-16;
  }

  .gridLogos {
    width: var(--terminal-width);
  }
}

@media (min-width: 1152px) {
  .embedText {
    width: 40%;
  }
}

@media (min-width: 1800px) {
  .root {
    --terminal-width: 640px;
  }
  .install {
    flex: 0 0 auto;
  }

  .gridLogos {
    left: 8px; /* Align grid with max content-width */
  }
}

@media (max-width: 1023px) {
  .terminal {
    pointer-events: none;
  }
}
