.header {
  margin: 50px 0;
  display: flex;
}

.logo {
  align-self: center;
}

.navbar {
  flex: 1;
  align-self: center;
  text-align: right;
}

.navbar a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
}

.githubIcon {
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}
