.root {
  margin-left: calc(var(--spacing) * 1);
}

.root :global(.label) {
  margin-bottom: calc(var(--spacing) * 0 - var(--dot-size));
}

@media (min-width: 650px) {
  .root.reversed {
    @apply ml-0;
    margin-right: calc(var(--spacing) * 1);
  }
}

@media (min-width: 1024px) {
  .root {
    margin-top: calc(var(--spacing) * 1);
    margin-left: calc(var(--spacing) * 2);
  }

  .root.reversed {
    margin-top: calc(var(--spacing) * 1);
    margin-left: 0;
    margin-right: calc(var(--spacing) * 2);
  }

  .root :global(.label) {
    margin-bottom: calc(var(--spacing) * 1 - var(--dot-size));
  }
}

.root .empty {
  @apply border-solid border-4 border-grey-10 -m-1 p-0;
  background: #fff no-repeat center var(--box-empty-bg);
}
